html{
	background: url(../img/bkgr.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

html,body{
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
}

body{
    background:none;
    color:rgb(10,10,10);
}
p{
    font-size:2rem;
}
a{
    color: rgb(250,250,250);
    text-decoration: none;
}
a:hover{
    color:rgba(250,250,250,.5);
    text-decoration: none;
}
#container{
}

#logo{
	/* background-image: url(../img/hc.png); */
	/*  background-repeat: no-repeat; */
}

.bkgr-transparent{
    background: rgb(0,0,0);
    background: rgba(0,0,0,0.3);
    color:rgb(250,250,250)
}
.bkgr-dark{
    background-color: rgb(10,10,10);
    color:rgb(250,250,250);
}
#sup{
	/*background: rgb(0,0,0);*/		
}

#sup{
	text-align: center;
}

h2{
    color: rgb(10,10,10);
    line-height: .8em;
    font-weight:700;
}


.margin-bottom-sm{
    margin-bottom:1rem;
}
.margin-bottom-md{
    margin-bottom:2rem;
}
.margin-bottom-lg{
    margin-bottom:4rem;
}
.margin-bottom-xl{
    margin-bottom:6rem;
}

@media(max-width:767px){
    h2#bk{
	font-size:6.5rem;
    }

    h2#rc{
            font-size:5rem;
    }

    h2#hb{
            font-size:3.2rem;
    }
}
@media(min-width:768px){
    h2#bk{
           font-size: 12rem;
   }

   h2#rc{
           font-size: 11rem;
   }

   h2#hb{
           font-size: 7.3rem;
   }   
}
@media(min-width:992px){
    
}
@media(min-width:1200px){
    
}