@charset "utf-8";
/* CSS Document */

html,body{
	font-family: 'Oswald', sans-serif;

	text-transform: uppercase;
}

#sup{
	text-align: center;
}

h2{
    color: rgb(10,10,10);
    line-height: .8em;
    font-weight:700;
}

h2#bk{
	font-size: 110px;
}

h2#rc{
	font-size: 85px;
}

h2#hb{
	font-size: 56px;
}